@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-300.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-regular.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-600.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v24-latin-900.woff2") format("woff2"),
    url("../fonts/poppins-v24-latin-900.ttf") format("truetype");
}

/* ------------------------------------- */
:root {
  --color-primery-dark: #31261a;
  --color-primery-light: #faf4ea;
  --color-brend-dark: #465929;
  --color-brend-normal: #819b57;
  --color-brend-light: #cfcfbc;
  --color-secondary-darck: #a18268;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* padding-left: 24px;
  padding-right: 24px; */

  color: var(--color-primery-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-primery-light);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
address a,
address {
  font-style: normal;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  display: inline-block;
}
.section {
  padding: 48px 0;
}
button {
  color: var(--color-primery-light);
  background-color: var(--color-brend-normal);
  border: 2px solid var(--color-brend-normal);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  width: 232px;
  height: 59px;
  padding: 16px 32px;
}
button:hover {
  color: var(--color-brend-dark);
  background-color: transparent;
}
.section-tatle {
  font-weight: 900;
  font-size: 64px;
  line-height: 1.3;
}
.section-tatle.centered {
  text-align: center;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* посилання */

.link {
  color: var(--color-primery-light);
  text-decoration: none;
}
.link:hover {
  color: var(--color-brend-normal);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}

/* герой */
.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      249deg,
      rgba(18, 18, 17, 0) 0%,
      rgba(18, 18, 17, 0.6) 60%,
      rgba(18, 18, 17, 0.78) 78%
    ),
    url("../images/hero-section-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* background-attachment: fixed; */
  /* background: url("../images/couple-in-bakery.jpg") center top / cover no-repeat fixed; */
}
.hero-title {
  color: var(--color-primery-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}
/* додатковий колір */
.accent-brand {
  color: var(--color-brend-normal);
}
.text-bold {
  font-weight: 600;
}
/* Наші переваги */
.advantages-container {
  background-color: var(--color-brend-normal);
  padding: 16px 0;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-list li {
  color: var(--color-primery-light);
  font-size: 20px;
  font-weight: 300;
}
.visually-hodden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* Новий формат традицій */
.text-uppercase {
  text-transform: uppercase;
}
.tradirions-section {
  padding-top: 96px;
}
.tradirions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 710px;
}
.limited {
  max-width: 340px;
}
/* Наші найкращі шеф -кухарі */
.chefs-title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 16px;
}
.accent-brand-darck {
  color: var(--color-brend-dark);
}
.chefs-section .section-tatle::after,
.chefs-section .section-tatle::before {
  display: block;
  width: 352px;
  border: 2px solid var(--color-brend-light);
  content: "";
}
.chefs-section .section-tatle {
  width: 538px;
  margin: 0 auto 80px;
}
.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primery-light),
    -16px 16px 0 2px var(--color-secondary-darck);
}
.chefs-item-all {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}
.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}
.chef-card {
  display: flex;
  gap: 30px;
}
.chef-text p {
  margin-bottom: 24px;
}
.chef-text p:last-child {
  margin-bottom: 0;
}

/* Формати */
.fotmsts-section .section-tatle {
  margin-bottom: 80px;
}
.formays-container {
  display: flex;
  align-items: center;
  gap: 33px;
}
.format-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.format-item {
  flex-basis: calc((100% - 40px) / 3);
}
.format-card {
  border: 2px solid rgb(42, 128, 199); /*remove me*/
  height: 444px;
  border-radius: 16px;
  padding: 24px;
  background-image: linear-gradient(
    180deg /*180 гадусів (можна 0-360+ і left-right...)*/,
    rgba(49, 38, 26, 0) 55%,
    rgba(49, 38, 26, 0.71) 73%,
    rgba(49, 38, 26, 1) 100%
  );
}
.format-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
}
.format-text {
  font-size: 14px;
  font-weight: 300;
}
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px var(--color-primery-dark) solid;
  cursor: pointer;
  fill: var(--color-primery-dark);
}
.carousel-button:hover {
  background-color: var(--color-primery-dark);
  fill: var(--color-primery-light);
}
/* Приєднуйся до мережі пекарень     */
.contact-section .section-tatle {
  margin-bottom: 16px;
}
.contact-section {
  padding-bottom: 96px;
}
.contact-container {
  display: flex;
  gap: 32px;
}
.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}
/* нижній колонтитул */
.footer-container {
  display: flex;
  padding: 32px;
  gap: 166px;
}
.footer-nav,
.footer-addres {
  display: flex;
  flex-basis: 50%;
  gap: 166px;
}

.footer-logo,
.footer-menu,
.address-list,
.address-info {
  flex-grow: 1;
}
.address-link {
  color: var(--color-primery-light);
  font-size: 16px;
  font-weight: 300;
}
.address-link:hover {
  color: var(--color-brend-normal);
}
.address-copyright {
  font-size: 13px;
  color: var(--color-secondary-darck);
}
.address-icon {
  fill: var(--color-brend-light);
}

.footer {
  background-color: var(--color-primery-dark);
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
