// базові стилі для всього сайту (normalize/reset, body, headings, links)
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* padding-left: 24px;
  padding-right: 24px; */

  color: var(--color-primery-dark);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-primery-light);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
address a,
address {
  font-style: normal;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  display: inline-block;
}
