// базові стилі для всього сайту (normalize/reset, body, headings, links)
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: var(--color-primery-light);
  color: var(--color-primery-dark);
  font-size: 16px;
  font-weight: 300;
  /* padding-left: 24px;
  padding-right: 24px; */
  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
address a,
address {
  font-style: normal;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
a {
  display: inline-block;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
