/*fonts завжди 1*/
@import "./utils/fonts";

/* variables завжди 1*/
@import "./utils/variables";
/*base завжди 2*/
@import "./base";
/* utils завжди 3*/
@import "./utils/utils";
/* ------------------------------------- */
/*кнопка*/
@import "./components/buttons";
/* герой */
@import "layouts/header";
@import "layouts/hero-section";
/* посилання */
@import "./components/links";
/* додатковий колір */

@import "./utils/texts";
//
/*пагінація _pagination.scss*/
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &__button {
    width: 12px;
    height: 12px;
    padding: 0;
    background-color: var(--color-secondary-darck);
    border-radius: 50%;

    &--active {
      background-color: var(--color-brend-normal);
    }
  }
}
/*mobil _mobile-menu.scss*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primery-light);
  transition: transform 0.3s;
  transform: translateX(100%);

  &.is-open {
    transform: translateX(0);
  }
  &__btn-close {
    position: absolute;
    top: 16px;
    right: 24px;
  }
}
/*_container.scss \/*/
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/*_section.scss */
.section {
  padding: 20px 0;
  @media screen and (min-width: $bp-desktop) {
    padding: 48px 0;
  }
  &__title {
    font-weight: 900;
    font-size: 32px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 64px;
      line-height: 1.3;
    }
    &--centered {
      text-align: center;
    }
  }
}
/* Наші переваги  _advantages-section.scss \/*/
.advantages-section {
  padding: 40px 0 20px;

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 0;
    background-color: var(--color-brend-normal);
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 40px;
    background-color: var(--color-brend-light);
    border-radius: 24px;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-between;
      gap: 40px;
      background-color: transparent;
      padding: 0;
    }
    // li {color: var(--color-primery-light);
    // font-size: 20px; font-weight: 300;}
  }
  &__item {
    font-size: 14px;
    font-weight: 300;
    @media screen and (min-width: $bp-tablet) {
      color: var(--color-primery-light);
      font-size: 20px;
    }
  }
}
/* Новий формат традицій _traditions-section.scss \/*/
.tradirions-section {
  // padding-top: 40px;
  @media screen and (min-width: $bp-tablet) {
    padding-top: 96px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }
  &__content {
    max-width: 710px;
  }
  &__title {
    margin-bottom: 42px;
  }
  &__text--limited {
    max-width: 340px;
    margin-top: 42px;
  }
  &__image {
    display: none;
    @media screen and (min-width: $bp-tablet) {
      border-radius: 400px 400px 0px 0px;
      display: block;
    }
  }
}
/* Наші найкращі шеф -кухарі _chefs-section.scss \/*/
.chefs-section {
  &__title {
    margin: 0 auto 24px;
    position: relative;
  }
  @media screen and (min-width: $bp-desktop) {
    margin-bottom: 80px;

    &__title::before,
    &__title::after {
      position: absolute;
      bottom: 24px;
      width: 352px;
      border: 2px solid var(--color-brend-light);
      content: "";
    }
    &__title::before {
      left: -0;
    }
    &__title::after {
      right: -0;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 40px 30px;
    }
  }
  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}
/*_chef-card.scss*/
.chef-card {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  @media screen and (min-width: $bp-desktop) {
    gap: 30px;
  }
  &__photo {
    width: 140px;
    border-radius: 2px 2px 2px 116px;
    box-shadow: -10px 10px 0 0 var(--color-primery-light),
      -10px 10px 0 2px var(--color-secondary-darck);
    @media screen and (min-width: $bp-desktop) {
      width: 240px;
      border-radius: 4px 4px 4px 200px;
      box-shadow: -16px 16px 0 0 var(--color-primery-light),
        -16px 16px 0 2px var(--color-secondary-darck);
    }
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
    @media screen and (min-width: $bp-desktop) {
      font-size: 40px;
    }
  }
  &__text {
    font-size: 16px;
    margin-bottom: 24px;
    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
/* Формати  _formats-section.scss \/*/
.formats-section {
  &__title {
    margin-bottom: 80px;
  }
  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  &__container {
    overflow: hidden;
  }
  &__list {
    margin-bottom: 32px;
  }
  &__button {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: flex;
    }
  }
}
/*_format-card.scss*/
.format-card {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  padding: 24px;
  background-image: linear-gradient(
    180deg /*180 гадусів (можна 0-360+ і left-right...)*/,
    rgba(49, 38, 26, 0) 55%,
    rgba(49, 38, 26, 0.71) 73%,
    rgba(49, 38, 26, 1) 100%
  );
  border-radius: 16px;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--color-primery-light);
  }
  &__text {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-primery-light);
  }
}
/*_carousel-button.scss*/
.carousel-button {
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px var(--color-primery-dark) solid;
  cursor: pointer;
  fill: var(--color-primery-dark);
  &:hover {
    background-color: var(--color-primery-dark);
    fill: var(--color-primery-light);
  }
  &.next {
    transform: rotate(180deg);
  }
}
/* Приєднуйся до мережі пекарень    _contact-section.scss \/ */
.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @media screen and (min-width: $bp-tablet) {
      gap: 32px;
      flex-direction: row;
    }
  }
  &__title {
    margin-bottom: 16px;
  }
  &__button {
    display: block;
    margin: 0 auto 16px;
  }
  // form
  &__form-field {
    margin-bottom: 24px;
  }
  &__map {
    flex-shrink: 0;
    height: 176px;
    margin: 0 -24px;
    border-radius: 16px;
    border: none;
    @media screen and (min-width: $bp-tablet) {
      margin: auto;
      width: 280px;
      height: 500px;
    }
    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 595px;
    }
  }
}
/* form  _input.scss*/
.input {
  //
  &__label {
    display: block;
  }
  &__control {
    padding: 16px 42px;
    width: 100%;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-darck);
    border-radius: 8px;
    background-color: transparent;
    &:focus {
      border-color: var(--color-brend-normal);
      outline: none;
    }
    &::placeholder {
      color: var(--color-secondary-darck);
    }
    &:focus::placeholder {
      color: var(--color-primery-dark);
    }
  }
}
/* сміна тексту в form _form-terms.scss \/ */
.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  &__link {
    color: var(--color-primery-dark);
    text-underline-offset: 2px;
  }
}
/* нижній колонтитул _footer.scss \/ */
.footer {
  position: relative;
  background-color: var(--color-primery-dark);
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before,
  &::after {
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    content: "";
  }
  &::before {
    left: 0;
    width: 180px;
    height: 120px;
    background-image: url(../images/decor-bread-small.png);
  }
  &::after {
    right: 0;
    width: 380px;
    height: 190px;
    background-image: url(../images/decor-bread-large.png);
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      flex-basis: 50%;
      gap: 166px;
      text-align: left;
      padding: 32px;
    }
  }
  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
      flex-basis: 50%;
      gap: 166px;
    }
  }

  &__logo,
  &__menu,
  &__address-list,
  &__address-info {
    flex-grow: 1;
  }
  &__address {
    &-link {
      color: var(--color-primery-light);
      font-size: 16px;
      font-weight: 300;
      &:hover {
        color: var(--color-brend-normal);
      }
    }
    &-copyright {
      font-size: 13px;
      color: var(--color-secondary-darck);
    }
    &-icon {
      fill: var(--color-brend-light);
    }
  }
}
/* модальне вікно _modal.scss \/ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: opacity 0.3s, visibility 0.3s;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 48px;
  background-color: var(--color-primery-light);
  border-radius: 32px;
  overflow-y: auto;
  @media screen and (min-width: $bp-tablet) {
    padding: 128px;
  }
  &-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    color: var(--color-primery-dark);
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 0;
    padding: 0;
  }
  &__form-field {
    margin-bottom: 32px;
  }
  &__button {
    display: block;
    margin: 0 auto 24px;
  }
}

/* Форма form  */

// .form-label {
//   display: block;
// }
// .form-input {
//   padding: 16px 42px;
//   width: 100%;
//   font-family: Poppins, sans-serif;
//   font-size: 16px;
//   line-height: 1.17;
//   border: 1px solid var(--color-secondary-darck);
//   border-radius: 8px;
//   background-color: transparent;
// }
// .form-input:focus {
//   border-color: var(--color-brend-normal);
//   outline: none;
// }
// .form-input::placeholder {
//   color: var(--color-secondary-darck);
// }
// .form-input:focus::placeholder {
//   color: var(--color-primery-dark);
// }

// .form-terms {
//   margin: 0 auto;
//   max-width: 220px;
//   font-weight: 500;
//   font-size: 12px;
//   line-height: 1.5;
//   text-align: center;
// }
// .form-terms-link {
//   color: var(--color-primery-dark);
//   text-underline-offset: 2px;
// }
