/*fonts завжди 1*/
@import "./utils/fonts";

/* variables завжди 1*/
@import "./utils/variables";
/*base завжди 2*/
@import "./base";
/* utils завжди 3*/
@import "./utils/utils";
/* ------------------------------------- */
/*кнопка*/
@import "./components/buttons";
/* герой */
@import "components/header";
@import "components/hero-sction";
/* посилання */
@import "./components/links";
.section-tatle.centered {
  text-align: center;
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/* додатковий колір */

.accent-brand {
  color: var(--color-brend-normal);
}
.text-bold {
  font-weight: 600;
}
/* Наші переваги */
.advantages-container {
  background-color: var(--color-brend-normal);
  padding: 16px 0;
}
.advantages-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.advantages-list li {
  color: var(--color-primery-light);
  font-size: 20px;
  font-weight: 300;
}

/* Новий формат традицій */
.text-uppercase {
  text-transform: uppercase;
}
.tradirions-section {
  padding-top: 96px;
}
.tradirions-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.traditions-content {
  max-width: 710px;
}
.limited {
  max-width: 340px;
}
/* Наші найкращі шеф -кухарі */
.chefs-title {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 16px;
}
.accent-brand-darck {
  color: var(--color-brend-dark);
}
.chefs-section .section-tatle {
  margin: 0 auto 80px;
  position: relative;
}
.chefs-section .section-tatle::before,
.chefs-section .section-tatle::after {
  position: absolute;
  bottom: 24px;
  width: 352px;
  border: 2px solid var(--color-brend-light);
  content: "";
}
.chefs-section .section-tatle::before {
  left: -0;
}

.chefs-section .section-tatle::after {
  right: -0;
}
.chef-photo {
  border-radius: 4px 4px 4px 200px;
  box-shadow: -16px 16px 0 0 var(--color-primery-light),
    -16px 16px 0 2px var(--color-secondary-darck);
}
.chefs-item-all {
  display: flex;
  gap: 40px 30px;
  flex-wrap: wrap;
}
.chefs-item {
  flex-basis: calc((100% - 30px) / 2);
}
.chef-card {
  display: flex;
  gap: 30px;
}
.chef-text p {
  margin-bottom: 24px;
}
.chef-text p:last-child {
  margin-bottom: 0;
}

/* Формати */
.fotmsts-section .section-tatle {
  margin-bottom: 80px;
}
.formays-container {
  display: flex;
  align-items: center;
  gap: 33px;
}
.format-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.format-item {
  flex-basis: calc((100% - 40px) / 3);
}
.format-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 444px;
  border-radius: 16px;
  padding: 24px;
  background-image: linear-gradient(
    180deg /*180 гадусів (можна 0-360+ і left-right...)*/,
    rgba(49, 38, 26, 0) 55%,
    rgba(49, 38, 26, 0.71) 73%,
    rgba(49, 38, 26, 1) 100%
  );
  // transition: transform 0.3s; //remov me
}
.format-card:hover {
  //remov me
  transform: scale(1.05);
}
.format-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.format-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--color-primery-light);
}
.format-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-primery-light);
}
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  background-color: transparent;
  border-radius: 50%;
  border: 1px var(--color-primery-dark) solid;
  cursor: pointer;
  fill: var(--color-primery-dark);
}
.carousel-button:hover {
  background-color: var(--color-primery-dark);
  fill: var(--color-primery-light);
}
.next {
  transform: rotate(180deg);
}
/* Приєднуйся до мережі пекарень     */
.contact-section .section-tatle {
  margin-bottom: 16px;
}
.contact-section {
  padding-bottom: 96px;
}
.contact-container {
  display: flex;
  gap: 32px;
}
.contact-map {
  flex-shrink: 0;
  border: none;
  border-radius: 16px;
}
/* нижній колонтитул */
.footer-container {
  display: flex;
  padding: 32px;
  gap: 166px;
}
.footer-nav,
.footer-addres {
  display: flex;
  flex-basis: 50%;
  gap: 166px;
}

.footer-logo,
.footer-menu,
.address-list,
.address-info {
  flex-grow: 1;
}
.address-link {
  color: var(--color-primery-light);
  font-size: 16px;
  font-weight: 300;
}
.address-link:hover {
  color: var(--color-brend-normal);
}
.address-copyright {
  font-size: 13px;
  color: var(--color-secondary-darck);
}
.address-icon {
  fill: var(--color-brend-light);
}

.footer {
  position: relative;
  background-color: var(--color-primery-dark);
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: "";
}
.footer::before {
  left: 0;
  width: 180px;
  height: 120px;
  background-image: url(../images/decor-bread-small.png);
}
.footer::after {
  right: 0;
  width: 380px;
  height: 190px;
  background-image: url(../images/decor-bread-large.png);
}
/* модальне вікно modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: opacity 0.3s, visibility 0.3s;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 3;
}
.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 128px;
  background-color: var(--color-primery-light);
  border-radius: 32px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 40px;
  right: 40px;
  color: var(--color-primery-dark);
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: 0;
  padding: 0;
}
/* Форма form  */
.form-field {
  margin-bottom: 32px;
}
.form-label {
  display: block;
}
.form-input {
  padding: 16px 42px;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 1.17;
  border: 1px solid var(--color-secondary-darck);
  border-radius: 8px;
  background-color: transparent;
}
.form-input:focus {
  border-color: var(--color-brend-normal);
  outline: none;
}
.form-input::placeholder {
  color: var(--color-secondary-darck);
}
.form-input:focus::placeholder {
  color: var(--color-primery-dark);
}
.form-button {
  display: block;
  margin: 0 auto 24px;
}
.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}
.form-terms-link {
  color: var(--color-primery-dark);
  text-underline-offset: 2px;
}
