// централізоване зберігання змінних, щоб легко керувати стилями
:root {
  --color-primery-dark: #31261a;
  --color-primery-light: #faf4ea;
  --color-brend-dark: #465929;
  --color-brend-normal: #819b57;
  --color-brend-light: #cfcfbc;
  --color-secondary-darck: #a18268;
}
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
