.header {
  position: absolute;
  left: 0;
  top: 32px;
  width: 100%;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 64px;
  flex-grow: 1;
  justify-content: center;
}
