.hero-section {
  padding: 272px 0;
  background-image: linear-gradient(
      249deg,
      rgba(18, 18, 17, 0) 0%,
      rgba(18, 18, 17, 0.6) 60%,
      rgba(18, 18, 17, 0.78) 78%
    ),
    url("../images/hero-section-background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* background-attachment: fixed; */
  /* background: url("../images/couple-in-bakery.jpg") center top / cover no-repeat fixed; */
}
.hero-title {
  margin-bottom: 0;
  color: var(--color-primery-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
